.badge {
  display: inline-flex;
  flex-shrink: 0;
  width: fit-content;
  align-items: center;
  justify-content: center;
  gap: var(--space-1);
  border-radius: var(--radius-3xl);
  overflow: hidden;
  border: 1px solid var(--muted);
  padding-block: var(--space-1);
  padding-inline: var(--space-2);
  font-size: small;
}

.secondary {
    
}

.destructive {
}
