.input {
  width: var(--width, 100%);
  border-radius: 6px;
  border: var(--input-border,1px solid var(--muted) );
  padding: var(--input-padding, 0.6rem 1rem);
  background: var(--input-bg, white);
  font-size: var(--input-fs, var(--text-base));
}

.input::placeholder {
  font-size: var(--text-sm);
}

.input:focus {
  outline: none;
  border-width: 0.1rem;
  border-color: var(--input-bc, #000);
}