.contactForm {
    display: grid;
    gap: var(--space-4);
}

.fieldGroup {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: var(--space-1);
}

.label {
    font-size: var(--text-sm);
}

.checkboxfieldGroup {
    display: flex;
    gap: var(--space-2);
}

.checkboxInput {
    width: min-content;
}

.button {
    --button-bg: var(--primary);
    color: var(--primary-foreground);
    border-radius: 8px;
}