.card {
  max-width: 290px;
  display: grid;
  gap: var(--space-4);
  overflow: hidden;
  border-radius: var(--border-radius, var(--radius-lg));
  box-shadow: var(--box-shadow, 0 0 0 1px var(--secondary));
}

.cardHeader {
  display: grid;
  gap: var(--space-1);
  border-radius: var(--radius-lg);
}

.cardTitle {
  font-size: var(--text-base);
  font-weight: 500;
  line-height: 1.375;
  margin: 0;
}

.cardDescription {
  font-size: var(--text-sm);
  margin: 0;
}

.cardAction {
  grid-column-start: 2;
  grid-row: 1 / span 2;
  align-self: start;
  justify-self: end;
}

.cardContent {
  padding-inline: var(--padding-inline,var(--space-4));
}

.cardFooter {
  display: flex;
  align-items: center;
  border-radius: 0 0 var(--radius-xl) var(--radius-xl);
  border: var(--border-footer,1px solid var(--muted));
  padding: var(--space-4);
}
