@import './variables.css';

@font-face {
  font-family: 'Noto Serif';
  src: url('../src/assets/fonts/NotoSerif-VariableFont_wdth\,wght.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-primary);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  user-select: none;
  -webkit-user-select: none;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

input,
textarea,
[contenteditable="true"] {
  user-select: text;
  -webkit-user-select: text;
}